@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@500;600&family=Great+Vibes&family=Montserrat:ital,wght@0,400;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
.home-layanan {

    width: 100%;
     min-height: 70vh;
     background-size: cover; 
     background-image:linear-gradient(0deg, rgba(0,0,0,0.40372122970281865) 0%, rgba(0,0,0,0.4009201092546394) 100%), url(../../Assets/bg-artikel.jpg);
    background-position: center;
     background-repeat: no-repeat;
     }
     .artikel-layanan{
        box-shadow: rgba(43, 42, 42, 0.1) 0px 4px 12px;
        border-radius: 20px;
    }
    .artikel-text{
        padding-top: 5px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px; 
        color: #777777;
    }
    .artikel__text{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 25px; 
        color: black;
    }
    .artikel-title{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 25px; 
            color: #4a4a4a;
        
    }
    .artikel__artikel{
        box-shadow: rgba(43, 42, 42, 0.1) 0px 4px 12px;
        border-radius: 20px;
        height: 200px;
        
        
    }
    .artikel__img img{
        width: 300px;
        height: 200px;
        
    }
    .artikel__selengkapnya{
        font-size: 15px;
        color:#0d6efd;
        font-weight: 300;
        font-family: 'Poppins', sans-serif;
    }
    @media screen and (max-width:600px) {
        .artikel__img img{
           
            height: 250px;
            
        }
        .artikel{
            box-shadow: rgba(43, 42, 42, 0.1) 0px 4px 12px;
            border-radius: 20px;
            height: 500px;
            
            
        }
        .artikel__body{
            margin-bottom: 100px;
         }
    }