@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@500;600&family=Great+Vibes&family=Montserrat:ital,wght@0,400;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
.navbar-font{
    position:relative;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 0 10px;
}
.navbar-malik{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 40px;
}
.navbar-font:after{
    content:"";
    position:absolute;
    background-color: #68bcec;
    height: 3px;
    width: 0%;
    left:0;
    bottom:-2px;
}
.navbar-font:hover:after{
    width: 100%;
}
