.detail__desc{
    padding-right: 50px;
    padding-left: 50px;
}
.detail__desc h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 35px; 
    color: black;
    }
    .detail__desc h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px; 
        color: rgb(48, 48, 48);
        }
        .detail__desc h4 {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 14px; 
            color: rgb(48, 48, 48);
            }
            .detail__desc h6 {
                font-family: 'Poppins', sans-serif;
                font-weight: 600;
                font-size: 16px; 
                line-height: 30px;
                }


.detail__bg{
    max-width: 1233px;
    max-height: 576px;
}
.detailArtikel__description{
    white-space: pre-wrap;
    color: #282828;
}
.line{
    padding: 100;
}
.detail__line{
    content:"";
    justify-content: center;
    text-align: center;
    background-color: #68bcec;
    height: 3px;
    width: 100%;
    left:0;
    bottom:-2px;
}
.detail__artikel__bg__img{
    height: 600px;
    width: 100%;
    object-fit: contain ;
}

@media screen and (max-width : 600px) {
    .detail__desc{
        padding-right: 10px;
        padding-left: 10px;
    }
    .detail__artikel__bg__img{
        height: 200px;
        width: 100%;
        object-fit: contain ;
    }
    .detail__desc h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px; 
    color: black;
    }
    .detail__desc h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px; 
    color: black;
    }
    .detail__desc h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px; 
        color: black;
        }
}