.detail__desc{
    padding-right: 50px;
    padding-left: 50px;
}
.detail__desc h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px; 
    color: black;
    }
    .detail__desc h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px; 
        color: black;
        }
        .detail__desc h4 {
            font-family: 'Poppins', sans-serif;
            font-weight: 500;
            font-size: 14px; 
            color: black;
            }
            .detail__desc h6 {
                font-family: 'Poppins', sans-serif;
                font-weight: 500;
                font-size: 14px; 
                line-height: 30px;
                }

.detail__bg{
    max-width: 1233px;
    max-height: 576px;
}
.line{
    padding: 100;
}
.detail__line{
    content:"";
    justify-content: center;
    text-align: center;
    
    
    background-color: #777777;
    height: 3px;
    width: 100%;
    left:0;
    bottom:-2px;
}

@media screen and (max-width : 600px) {
    .detail__desc{
        padding-right: 10px;
        padding-left: 10px;
    }
    .detail__desc h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 20px; 
    color: black;
    }
    .detail__desc h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px; 
    color: black;
    }
    .detail__desc h4 {
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px; 
        color: black;
        }
}