@import url('https://fonts.googleapis.com/css2?family=Faustina:wght@500;600&family=Great+Vibes&family=Montserrat:ital,wght@0,400;1,400;1,500;1,600;1,700&family=Nunito:ital,wght@0,300;1,300&family=Poppins:ital,wght@0,400;0,500;0,600;1,300&display=swap');
.artikel__adm__text{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color: #161616;
}
.artikel__adm__text2{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 18px;
    
}
.artikel__artikel{
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 18px;
}

/* .artikel__file{
    display: none;
    visibility: none;
} */